.login_div1 , .login_div2
	{
		background: violet;
		padding: 20px;
		float: none;
		border-radius: 30px;
        border-style: ridge;
        border-color: blue;
	}
body{
    background: lightcoral;
}
